
body {
	background: #f2f7fa;
	font-family: 'Neuton', serif;
	font-size: 50px;
	padding-top: 0;
}

a {
	color: #78b2e5;
}

a:hover {
	color: #4d86b8;
}

p {
	padding-bottom: 15px;
}

ul {
	padding-left: 0;
}

img {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.row {
	margin-bottom: 20px;
}

.info {
	border-bottom: 1px solid #e0e0e0;
	font-size: 20px;
	margin-bottom: 30px;
	text-align: right;
}

.orgs {
	border-top: 1px solid #e0e0e0;
	font-size: 20px;
	margin-top: 40px;
	padding-top: 10px;
}

h1 {
	font-size: 84px;
	margin-top: 0;
	margin-bottom: 50px;
}

h2 {
	font-size: 16px;
}

p {
	line-height: 1;
}

li {
	font-size: 28px;
}

.btn-success {
	background-color: #DDD;
	border-color: #CCC;
	color: #ba1800;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-color: #FFF;
  border-color: #b1aeae;
  color: #ba1800;
}

@media (max-width: 500px) {
	.aboutjs img {
		display: block;
		padding-right: 0;
		width: 100%;
	}
}
